body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-family: Arial, sans-serif;
}
.container {
    width: 500px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFF8DC;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  .thehead {
    text-align: center;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
  }
.container input[type="text"],
.container input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border: 1px solid dodgerblue;
}
.container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.container input[type="submit"]:hover {
    background-color: #45a049;
    color: white;
  }
