           
        body{
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-image: url('ai-photo.jpg');
        }

        header {
            background-color: white;
            color: black;
            text-align: center;
            padding: 5px 0;
        }




        @keyframes moveLeftToRight {
               0%{
                 transform: translateX(100%);
                  }
               100% {
                     transform: translateX(-100%)
                     }
                   }
          
         h4{
           animation:moveLeftToRight 20s linear infinite;
           white-space:nowrap;
           overflow:hidden;
           position:relative;
           width:auto;
           font-size: 18px;
           font-style: italic;
           color: blue;
}




        .enroll-button {
            display: block;
            background-color: #007BFF;
            color: #fff;
            text-align: center;
            padding: 10px;
            border-radius: 5px;
            text-decoration: none;
            
        }

        /* Add this CSS to style the Duration section */
        .duration {
            font-style: italic;
            color: #777;
        }

             footer {
            background-color: #333;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

         img{

              width:1125px;
              }

        h1 {
            font-size: 36px;
        }

        .options{
                 list-style:none;
                 text-align:right;
                 background-color:white;
                 
                 }
         .options li{
                 display:inline;
                 margin-right: 5px;}

        nav ul {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;
            height: 50px;
            background-color:white;

        }

        nav li {
            display: inline;
            margin-right: 20px;
        }

        nav a {
            text-decoration: none;
            color: black;
            font-weight: bold;
            transition:color 0.3s
        }

        nav a:hover{
              color: blue;
                     }

        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .course-card {
            background-color: #fff;
            padding: 20px;
            margin: 10px;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .course-card h2 {
            font-size: 24px;
        }

        .course-card p {
            font-size: 16px;
        }